 <!-- about section -->
 <section class="about section">
    <div class="container about__container">
        <span class="about__pre-title">tradition and love</span>
        <h2 class="about__title">how it’s made?</h2>
            <div class="about-main">
                <img src="images/cow.png" alt="коровка">  
                    <div class="about__main-text">  
                        <p class="about__pre-text">We’ve been making irresistible, award-winning ice cream for over 60 years, so we think we’re pretty good at it. But you should try for yourself — tasting is believing!</p>
                        <p class="about__text">We make the ice cream mix from scratch using our in house developed recipes on the first day. Most flavours are from the classic mix with additions such as vanilla beans, fresh or roasted fruits, spices, burnt sugar caramels, or whatever flavour of the week we're feeling. </p>
                         <p class="about__last-text">Let the ice creams freeze overnight to reduce ice crystals and make for a super smooth scoop.</p> 
                            <button type="submit" class="about-btn"
                             >Read more<svg class= "about-btn-icon" width="7" height="9">
                                <use href="/images/icons.svg#icon-arrow-right-short"></use>
                            </svg></button>
                    </div>
            </div>            
    </div>    
    <!-- modalka -->
 
</section>