<section class="section-advantages">
    <div class="container">
        <h2 class="fulse-title">Ingridients</h2>
        <ul class="advantages-list list">
            <li class="advantages-item">
                <span class="advantages-number advantages-number__milk">721</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <span class="advantages-number advantages-number__apple">16kg</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-item">
                <span class="advantages-number advantages-number__heart">84</span>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>