<section class="advantages">
    <div class="container">
        <h2 class="fulse-title" id="about-us">Ingridients</h2>
        <ul class="advantages__list list">
            <li class="advantages__item">
                <span class="advantages__number advantages__number--milk">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__number advantages__number--apple">16kg</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <span class="advantages__number advantages__number--heart">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>