<div class="contacts-backdrop-map fulse-title" >
  <div class="contacts-modal-map">
    <button type="button" class="contacts-modal-map__close-btn">
          <svg class="modal__close-icon" width="18px" height="18px">
            <use href="images/icons.svg#icon-close"></use>
          </svg>
        </button>
    <div id="map"></div>
  </div>
</div>
<div class="contacts-backdrop-franchise fulse-title" >
  <div class="contacts-modal-franchise">
      <button type="button" class="contacts-modal-franchise__close-btn">
          <svg class="modal__close-icon" width="18px" height="18px">
            <use href="images/icons.svg#icon-close"></use>
          </svg>
      </button>
      <form class="form-application">
          <h3 class="form-application__title">please fill in below form and we will contact you shortly</h3>
          <label for="name" class="form-application__label">Name</label>
          <div class="form-application__input-wrap">
            <input type="text" id="name" name="name" class="form-application__input" />
            <svg width="18px" height="18px" class="form-application__input-icon">
              <use href="./images/icons.svg#icon-name"></use>
            </svg>
          </div>
          <label for="tel" class="form-application__label">Phone Number</label>
          <div class="form-application__input-wrap">
            <input type="tel" id="tel" name="tel" class="form-application__input" />
            <svg width="18px" height="18px" class="form-application__input-icon">
              <use href="./images/icons.svg#icon-tel"></use>
            </svg>
          </div>
          <label for="email" class="form-application__label">E-mail</label>
          <div class="form-application__input-wrap">
            <input type="email" id="email" name="email" class="form-application__input" />
            <svg width="18px" height="18px" class="form-application__input-icon">
              <use href="./images/icons.svg#icon-mail"></use>
            </svg>
          </div>
          <button type="submit" class="contacts-button submit-button">SEND</button>
        </form>
    </div>
  </div>