<section class="customer-reviews">
    <div class="container">
        <h2 class="fulse-title">customer reviews</h2>
        <ul class="costumer-card slaider list">
        <li class="costumer-card__client-emily client-reviews">
            <div class="costumer-card__client-emily--photo-position">
            <img
                srcset="
                    ./images/customer_reviews__emily-desktop--1x.png 1x,
                    ./images/customer_reviews__emily-desktop--2x.png 2x
                "
                src="./images/customer_reviews__emily-desktop--1x.png"
                alt="client Emily"
                width="85"
                height="85"
            /> </div>
            <div class="costumer-card__tumb-text">
            <p class="costumer-card__tex">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.</p></div>
            <p class="costumer-card__name">Emily, Los Angeles</p>
        </li>

        <li class="costumer-card__client-linda client-reviews">
            <div class="costumer-card__client-linda--photo-position">
            <img srcset="
                            ./images/customer_reviews__linda-desktop--1x.png 1x,
                            ./images/customer_reviews__linda-desktop--2x.png 2x
                        " src="./images/customer_reviews__linda-desktop--1x.png" alt="client Linda" width="85" height="85" />
            </div>
                        <div class="costumer-card__tumb-text">
            <p class="costumer-card__tex">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p></div>
            <p class="costumer-card__name">Emily, Los Angeles</p>
        </li>

        <li class="costumer-card__client-luisa client-reviews">
            <div class="costumer-card__client-luisa--photo-position">
            <img srcset="
                            ./images/customer_reviews__luisa-desktop--1x.png 1x,
                            ./images/customer_reviews__luisa-desktop--2x.png 2x
                        " src="./images/customer_reviews__luisa-desktop--1x.png" alt="client Luisa" width="85" height="85" />
            </div>
                        <div class="costumer-card__tumb-text">
            <p class="costumer-card__tex">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p></div>
            <p class="costumer-card__name">Emily, Los Angeles</p>
        </li>
        </ul>
    </div>
</section>