<section>
    <h2 class="hidden">Gallery</h2>
    <div class="conteiner">
<div>
    <div>hsdjfjgjdj </div>
    <div>shgjhkjlgl</div>
    <div></div>
</div>
<div>
    <div><h1>lhhlkhlhkre</h1>
        <!-- <div class="section f">
            <picture>
                <source srcset="../images/galery/desc/pic01.jpg 1x, ../images/galery/desc/pic@01.jpg 2x" media="(min-width: 1200px)" />
                <source srcset="../images/galery/tabl/pic01.jpg 1x, ../images/galery/tabl/pic@01.jpg 2x" media="(min-width: 768px)" />
                <source srcset="../images/galery/mob/pic01.jpg 1x, ../images/galery/mob/pic@01.jpg 2x" media="(min-width: 480px)" />
                <img src="../images/galery/desc/pic1.jpg" alt="Фотография" />
              </picture>
        </div>
    <div class="section f">
        <img src="../images/galery/desc/pic1.jpg" alt="Фотография" />
    </div>
    <div class="section f">
        <img src="../images/galery/pic2.jpg" alt="Фотография" />
    </div>
    <div class="section f">
        <img src="../images/galery/pic3.jpg" alt="Фотография" />
    </div></div> -->
    <div><img
        srcset="../images/galery/mob/pic1.jpg 320w, ../images/galery/tabl/pic1.jpg 640w, ../images/galery/desc/pic1.jpg 1000w"
        sizes="(min-width: 1280px) 1000px, (min-width: 768px) 640px, 100vw"
        src="../images/galery/pic3.jpg"
        alt="Описание изображения для всех версий"
      /></div>
    <div></div>
</div>
<div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div>
    <div></div>
    <div></div>
    <div></div>
</div>
<div>
    <div></div>
    <div></div>
    <div></div>
</div>
    </div>
</section>