<section>
    <h2 class="fulse-title">Gallery</h2>
    <div class="section gallery__box">
        <!-- <div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic1.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic2.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic3.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div> 
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
    </div> -->
    <ul class="conteiner ggg">
        <li class="gallery__box--prew zerro"></li>
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic1.jpg" alt="Фотография" /></li>
        <li class="gallery__box--prew"></li>
        <!-- <li class="gallery__box--prew"></li> -->
        
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic2.jpg" alt="Фотография" /></li>
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic3.jpg" alt="Фотография" /></li>
        <li class="gallery__box--prew zerro"></li>

        <li class="gallery__box--prew zerro"></li>
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></li>
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></li>
    
        <li class="gallery__box--prew zerro"></li>
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></li>
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic7.jpg" alt="Фотография" /></li>
        <!-- <li class="gallery__box--prew"></li> -->
        
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic8.jpg" alt="Фотография" /></li>
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic9.jpg" alt="Фотография" /></li>
        <!-- <li class="gallery__box--prew"></li> -->
        
        <!-- <li class="gallery__box--prew"></li> -->
        <li class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic0.jpg" alt="Фотография" /></li>
        
    
        <!-- <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
        <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
        <div class="gallery__box--prew"><img class="gallery__box--prew-pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div> -->
    </ul>
</div>
    
        <!-- <picture>
            <source srcset="../src/images/galery/desc/pic01.jpg 1x, ../src/images/galery/desc/pic@01.jpg 2x" media="(min-width: 1200px)" />
            <source srcset="../src/images/galery/tabl/pic01.jpg 1x, ../src/images/galery/tabl/pic@01.jpg 2x" media="(min-width: 768px)" />
            <source srcset="../src/images/galery/mob/pic01.jpg 1x, ../src/images/galery/mob/pic@01.jpg 2x" media="(min-width: 480px)" />
            <img src="../src/images/galery/mob/pic@01.jpg" alt="Фотография" />
        </picture> -->
    
</section>