<section>
    <h2 class="fulse-title">Gallery</h2>
    <div class="section gallery__box">
        <!-- <div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic1.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic2.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic3.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
        <div> 
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></div>
            <div class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></div>
        </div>
    </div> -->
    <!-- <ul class="conteiner gallery__items">
        <li class="gallery__prew zerro"></li>
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic1.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"></li>
        
        
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic2.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic3.jpg" alt="Фотография" /></li>
        <li class="gallery__prew zerro"></li>

        <li class="gallery__prew zerro"></li>
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic4.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic5.jpg" alt="Фотография" /></li>
    
        
        <li class="gallery__prew"><img class="gallery__pic pic" src="../src/images/galery/pic6.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic7.jpg" alt="Фотография" /></li>
        
        
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic8.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic9.jpg" alt="Фотография" /></li>
        
        
        <li class="gallery__prew"></li>
        <li class="gallery__prew"><img class="gallery__pic" src="../src/images/galery/pic0.jpg" alt="Фотография" /></li>
        
    </ul> -->
    <ul class="conteiner gallery__items">
        <li class="gallery__prew zerro"></li>
        <li class="gallery__prew">
            <img class="gallery__pic" srcset="../src/images/galery/desc/pic01.jpg 1x, ../src/images/galery/desc/pic@01.jpg 2x" src="../src/images/galery/pic1.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"></li>
        
        
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic02.jpg 1x, ../src/images/galery/desc/pic@02.jpg 2x" src="../src/images/galery/pic2.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic3.jpg 1x, ../src/images/galery/desc/pic@3.jpg 2x" src="../src/images/galery/pic3.jpg" alt="Фотография" /></li>
        <li class="gallery__prew zerro"></li>

        <li class="gallery__prew zerro"></li>
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic4.jpg 1x, ../src/images/galery/desc/pic@4.jpg 2x" src="../src/images/galery/pic4.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic5.jpg 1x, ../src/images/galery/desc/pic@5.jpg 2x" src="../src/images/galery/pic5.jpg" alt="Фотография" /></li>
    
        
        <li class="gallery__prew"><img class="gallery__pic pic" srcset="../src/images/galery/desc/pic6.jpg 1x, ../src/images/galery/desc/pic@6.jpg 2x" src="../src/images/galery/pic6.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic7.jpg 1x, ../src/images/galery/desc/pic@7.jpg 2x" src="../src/images/galery/pic7.jpg" alt="Фотография" /></li>
        
        
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic8.jpg 1x, ../src/images/galery/desc/pic@8.jpg 2x" src="../src/images/galery/pic8.jpg" alt="Фотография" /></li>
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic9.jpg 1x, ../src/images/galery/desc/pic@9.jpg 2x" src="../src/images/galery/pic9.jpg" alt="Фотография" /></li>
        
        
        <li class="gallery__prew"></li>
        <li class="gallery__prew"><img class="gallery__pic" srcset="../src/images/galery/desc/pic1.jpg 1x, ../src/images/galery/desc/pic@1.jpg 2x" src="../src/images/galery/pic0.jpg" alt="Фотография" /></li>
        
    </ul>
</div>
    
        <!-- <picture class="gallery__pic">
            <source srcset="../src/images/galery/desc/pic01.jpg 1x, ../src/images/galery/desc/pic@01.jpg 2x" media="(min-width: 1280px)" />
            <source srcset="../src/images/galery/tabl/pic01.jpg 1x, ../src/images/galery/tabl/pic@01.jpg 2x" media="(min-width: 768px)" />
            <source srcset="../src/images/galery/mob/pic01.jpg 1x, ../src/images/galery/mob/pic@01.jpg 2x" media="(min-width: 480px)" />
            <img src="../src/images/galery/mob/pic@01.jpg" alt="Фотография" />
        </picture> -->
    
</section>