.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    margin: 0px auto;

    // @include mobile {
    //     width: 310px;
    // }

    @media screen and (min-width:310px) {
        width: 310px;
}

    @include tablet {
        width: 734px;
    }

    @include desktop {
        width: 1279px;
    }
}