.contacts-section {
    background-image: linear-gradient(
        to bottom,
        #fff 25%,
        #FFF5F6 25%,
        #FFF5F6 75%,
        );
}

.contacts-list {
    @include tablet {
        display: flex;
    }
}

.contacts-list__item {
    padding: 40px 32px;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include tablet {

        &:not(:last-child) {
            margin: 0 30px 0 0;
        }
    }
}

.contacts-list__category {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    height: 16px;

    &.cafe {
        width: 80px;
        background-color: #F0D1A5;
    }
    &.foodtrack {
        width: 130px;
        background-color: #C2E297;
    }

    @include tablet {
        margin-bottom: 30px;
    }
}

.contacts-list__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    letter-spacing: 0.04em;
}

.cotacts-list__description {
    position: relative;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18/12);
    color: #907E82;
    &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: -25px;
        transform: translate(-50%);
        width: 100%;
        height: 0px;
        border: 1px solid #E1E1E1;

        @include tablet {
            bottom: -30px;
        }
    }

    @include tablet {
        margin-bottom: 60px;
    }
}

.contacts-list__wrap {
    margin-bottom: 10px;
}

.contacts-list__days-open {
    display: block;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
   
}

.contacts-list__time {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(22/12);
    color: #FFA5BA;
}

.contacts-list__adress {
    margin-top: 50px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(18/12);
    color: #907E82;
    
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: -25px;
        transform: translate(-50%);
        width: 100%;
        height: 0px;
        border: 1px solid #E1E1E1;
        @include tablet {
            top: -30px;
        }
    }

    @include tablet {
        margin-top: 60px;
    }
    
}

.contacts-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto 0 auto;
    padding: 0 17px;
    width: 160px;
    height: 45px;
    border: none;
    background: #D41342;
    border-radius: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #fff;
}

.contacts-button--color {
    background: #fff;
    color: #D41443;
    justify-content: center;
    margin-top: 10px;
    &>svg {
        margin-left: 15px;
    }
}