.customer-reviews {
    padding-bottom: 48px;
        @include tablet {
            padding-bottom: 80px;
        }
}

.costumer-card__client-emily--photo-position, 
.costumer-card__client-luisa--photo-position, 
.costumer-card__client-linda--photo-position {
    margin: 0 auto;
    width: 85px;
    margin-bottom: 32px;
    @include tablet {
        margin-bottom: 20px;
    }
}

.costumer-card__tumb-text { // может давать проскролл на мобиле
    width: 280px;
    margin: 0 auto;
    background-color: #FAFAFA;
    position: relative;
        &::before {
            position: absolute;
            top: 30px;
            left: 53px;
            content: " ";
            background: url(../images/slaider-lapky.png);
            width: 54px;
            height: 40px;
        }
    @include tablet {
        width: 620px;
        height: 164px;
        &::before {
            position: absolute;
            content: " ";
            background: url(../images/slaider-lapky__tablet.png);
                width: 60px;
                height: 40px;
                top: 20px;
                left: 6px;
                    }
    }
}

.costumer-card__tex--size {
    padding-top: 43px;
    padding-left: 65px;
    padding-right: 58px;
        @include tablet {
            padding-top: 20px;
            padding-left: 6px;
            padding-right: 6px;
            padding-bottom: 36px;

            background-image: repeating-linear-gradient(to bottom,
                    #cc030300 0px,
                    #92000000 28px,
                    #E1E1E1 31px,
                    #E1E1E1 1px);
        }
}

.costumer-card__tex {
    position: relative;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    padding-bottom: 17px;
    color: $text-darck;
    background-image: repeating-linear-gradient(to bottom,
                #cc030300 0px,
                #92000000 28px,
                #E1E1E1 31px,
                #E1E1E1 1px);
    @include tablet {
        font-weight: 500;
        font-size: 14px;
        line-height: 2.16;
        text-align: center;
        letter-spacing: 0.04em;
        background-image: none;

        padding-left: 45px;
        padding-right: 50px;
        padding-bottom: 8px;
        padding-top: 17px;
        background: none;
        // background-image: repeating-linear-gradient(to bottom,
        //     #cc030300 0px,
        //     #92000000 28px,
        //     #E1E1E1 31px,
        //     #E1E1E1 1px);
                    
    }
}

.costumer-card__name {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    padding-top: 28px;
    padding-bottom: 16px;
        &::after {
            position: absolute;
            top: 16px;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 32px;
            height: 4px;
            background: url(../images/slaider-dots-deckor.png);;
        }
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slaider {
        .slaider-dots{
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .slaider-dots li {
    list-style: none;
    margin: 0 9px;
    }
    .slaider-dots button {
        cursor: pointer;
        font-size: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $slaider-dots-active;
    
        border: none;
        padding: 0;
    }
    .slaider-dots li.slick-active button {
        background-color: $slaider-dots-un-active;
    }
}

#slick-slide-control00 {
    position: relative;
    background-color: transparent;
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0%;
        content: "";
        width: 12.4px;
        height: 12px;
        background: url(../images/slaider-home-un-acktive.png);
    }
}

.slaider .slaider-dots li.slick-active #slick-slide-control00::after {
    background: url(../images/slaider-home-acktive.png);
}