$vert: 40px;
$hor: 42px;
.gallery {
    padding-bottom: 80px;
    @media screen and (min-width: 1280px) {
        padding-bottom: 120px;
    }
    &__box{
       
        background-image: linear-gradient(
    to bottom,
    #fff5f6 40%,
    #ffffff 40%
    
    );
  
    }
    &__items{
        //position: absolute;
        position: relative;
        //bottom: $hor;

        left: 18px;
        //width: 310px;
        height: 122px;
        display: flex;
        justify-content: center;

        @media screen and (min-width: 768px) {
            bottom: $hor*2;
            left: 40px;
            min-height: 264px;
        }
        @media screen and (min-width: 1280px) {
            bottom: $hor*3.5;
            left: 75px;
            min-height: 430px;
        }
        }
        &__item{
            position: absolute;
            //bottom: 40px;
            //position: relative;
            }
                
    &__prew {
        position: absolute;
        margin: 2px 2px;
        border-radius: 4px;
        overflow: hidden;
        min-width: 40px;
        min-height: 40px;
        @media screen and (min-width: 768px) {
            margin: 4px 4px;
            min-width: 80px;
            min-height: 80px;
            border-radius: 8px;
        }
        @media screen and (min-width: 1280px) {
            min-width: 140px;
            min-height: 140px;
            margin: 6px 6px;
            border-radius: 10px;
        }

        &:hover, &:focus {
            z-index: 16;
            cursor: pointer;
        }
    }
        
    &__pic {
        
        width: 40px;
        height: 40px;
        transition: width 250ms linear, height 250ms linear;
         @media screen and (min-width: 768px) {
            width: 81px;
            height: 81px;
        }
        @media screen and (min-width: 1280px) {
            width: 140px;
            height: 140px;

        }
        &:hover, &:focus {
            z-index: 16;
            // width: 3*$hor;
            // height: 3*$hor;
            width: 2*$hor;
            height: 2*$hor;
            cursor: pointer;
            //transform: translate(-50%, -50%);
            @media screen and (min-width: 480px) {
                width: 3*$hor;
                height: 3*$hor;
            }
            @media screen and (min-width: 768px) {
                width: 3*$hor*2;
                height: 3*$hor*2;
            }
            @media screen and (min-width: 1280px) {
                width: 3*$hor*3.5;
                height: 3*$hor*3.5;
    
            }
        }
    }    
}

.h1{
    //position: absolute;
    
    right: -3*$hor;
    @media screen and (min-width: 480px) {
        right: -3*$hor;
    }
    @media screen and (min-width: 768px) {
        right: -3*$hor*2;
    }
    @media screen and (min-width: 1280px) {
        right: -3*$hor*3.5;

    }
    
    }
.h2{
    
    // position: relative;
    right: -2*$hor;
    @media screen and (min-width: 480px) {
        right: -2*$hor;
    }
    @media screen and (min-width: 768px) {
        right: -2*$hor*2;
    }
    @media screen and (min-width: 1280px) {
        right: -2*$hor*3.5;

    }
    
} 
.h3{
    
    // position: relative;
    right: -$hor;
    @media screen and (min-width: 480px) {
        right: -1*$hor;
    }
    @media screen and (min-width: 768px) {
        right: -1*$hor*2;
    }
    @media screen and (min-width: 1280px) {
        right: -1*$hor*3.5;

    }
    
} 
.h4{
    right: 0px;
} 
.h5{margin-left: -1px;
    //position: absolute;
    // position: relative;
    left: -2*$hor;
    @media screen and (min-width: 480px) {
        left: -2*$hor;

    }
    @media screen and (min-width: 768px) {
        left: -2* $hor*2;
    }
    @media screen and (min-width: 1280px) {
        left: -2*$hor*3.5;

    }
}
.h6{
    margin-left: -2px;
    left: -3*$hor;
    @media screen and (min-width: 480px) {
        left: -3*$hor;

    }
    @media screen and (min-width: 768px) {
        left: -3*$hor*2;
    }
    @media screen and (min-width: 1280px) {
        left: -3*$hor*3.5;

    }
}
.h7{margin-left: -3px;
    left: -4*$hor;
    @media screen and (min-width: 480px) {
        left: -4*$hor;

    }
    @media screen and (min-width: 768px) {
        left: -4*$hor*2;
    }
    @media screen and (min-width: 1280px) {
        left: -4*$hor*3.5;

    }
}

.v1{
top: 0;
@media screen and (min-width: 480px) {
    top: $hor;
}
@media screen and (min-width: 768px) {
    top: $hor*2;
}
@media screen and (min-width: 1280px) {
    top: $hor*3.5;

}
} 
.v2{
top: $hor;
@media screen and (min-width: 480px) {
    top: 2*$hor;
}
@media screen and (min-width: 768px) {
    top: 2*$hor*2;
}
@media screen and (min-width: 1280px) {
    top: 2*$hor*3.5;

}
} 
.v3{
    
    margin-bottom: -1px;
bottom: -3*$hor;
@media screen and (min-width: 480px) {
    bottom: -4*$hor;
}
@media screen and (min-width: 768px) {
    bottom: -4*$hor*2;
}
@media screen and (min-width: 1280px) {
    bottom: -4*$hor*3.5;

}
} 
.zerro{
    //background-color: #ffffff;
    margin: 0;
    padding: 20px 0;
    @media screen and (min-width: 768px) {
        padding: 40px 0;
    }
    @media screen and (min-width: 1280px) {
        padding: 60px 0;
    }
}
.forsmagore{
    
    @media screen and (max-width: 479px) {
        opacity: 1;
        position: absolute;
        top: 40px;
        z-index: 200;
    }
    @media screen and (min-width: 768px) {
        opacity: 0;
        display: none;
    }
}
.pic {
    //position: absolute;
    width: 80px;
    height: 80px;
    @media screen and (min-width: 768px) {
        width: 151px;
        height: 151px;
    }
    @media screen and (min-width: 1280px) {
        width: 260px;
        height: 260px;
    }
    // &:hover{
    //     width: 122px;
    //     height: 122px;
    //     @media screen and (min-width: 768px) {
    //         width: 264px;
    //         height: 264px;
    //     }
    //     @media screen and (min-width: 1280px) {
    //         width: 415px;
    //         height: 415px;
    //     }
    // }
}
  
