.gallery {
    &__box{
        display: flex;
        background-image: linear-gradient(
    to bottom,
    #fff5f6 40%,
    #ffffff 40%
    
  );
    }
    
    &__prew {
        margin: 2px 2px;
        border-radius: 4px;
        overflow: hidden;
        width: auto;
        height: auto;
        @media screen and (min-width: 768px) {
            margin: 4px 4px;
        border-radius: 8px;
        }
        @media screen and (min-width: 1280px) {
            margin: 6px 6px;
        border-radius: 10px;
        }
    }

    &__items{
        width: 100vw;
        max-height: 122px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        @media screen and (min-width: 768px) {
            width: 768px;
            max-height: 264px;
        }
        @media screen and (min-width: 1280px) {
            width: 1280px;
            max-height: 430px;
        }
        }
    &__pic {
        width: 40px;
        height: 40px;
        transition: width 250ms linear, transform 500ms ease-in-out, height 250ms linear, transform 500ms ease-in-out;
        //transition: height 500ms linear, transform 500ms ease-in-out;
        @media screen and (min-width: 768px) {
            width: 81px;
            height: 81px;
        }
        @media screen and (min-width: 1280px) {
            width: 140px;
            height: 140px;

        }
        &:hover, &:focus {

            width: 122px;
            height: 122px;

            @media screen and (min-width: 768px) {
                width: 264px;
                height: 264px;
            }
            @media screen and (min-width: 1280px) {
                width: 415px;
                height: 415px;
            }
        }
    }    
}

.zerro{
    margin: 0;
    padding: 5px 0;
    @media screen and (min-width: 768px) {
        padding: 30px 0;
    }
    @media screen and (min-width: 1280px) {
        padding: 50px 0;
    }
}

.pic {
    width: 70px;
    height: 70px;
    @media screen and (min-width: 768px) {
        width: 151px;
        height: 151px;
    }
    @media screen and (min-width: 1280px) {
        width: 260px;
        height: 260px;
    }
    &:hover{
        width: 122px;
        height: 122px;
        @media screen and (min-width: 768px) {
            width: 264px;
            height: 264px;
        }
        @media screen and (min-width: 1280px) {
            width: 415px;
            height: 415px;
        }
    }
}